<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
    <head>
        <title>Online Bank</title>
        <link rel="stylesheet" href="/css/transactions.css"/>
    </head>
    <body>
        <h2>Transaction History</h2>

        <div th:if="${singleTransaction.id != null}">
            <p><strong>ID:</strong> <span th:text="${singleTransaction.id}"></span></p>
            <p><strong>Date:</strong> <span th:text="${singleTransaction.date}"></span></p>
        </div>

        <div th:if="${singleTransaction.id == null}">
            <table>
                <tr>
                    <th>Date</th>
                </tr>
                <tr th:each="transaction : ${transactions}">
                    <td th:text="${transaction.id}"></td>
                </tr>
                <tr th:each="transaction : ${transactions}">
                    <td th:text="${transaction.date}"></td>
                </tr>
                <tr th:each="transaction : ${transactions}">
                    <td th:text="${transaction.retailer}"></td>
                </tr>
            </table>
        </div>
    </body>
</html>