<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Transaction Details</title>
	<link rel="stylesheet" href="/css/transaction-details.css" />
</head>

<body>
	<h2>Transaction Details</h2>

	<table>
		<tr>
			<th>ID</th>
			<th>Date</th>
			<th>Retailer</th>
			<th>Funds In</th>
			<th>Funds Out</th>
		</tr>
		<tr>
			<td th:text="${transaction.id}"></td>
			<td th:text="${transaction.date}"></td>
			<td th:text="${transaction.retailer}"></td>
			<td th:if="${transaction.type == 'C'}" th:text="${transaction.amount}"></td>
			<td th:if="${transaction.type == 'D'}" th:text="${transaction.amount}"></td>
		</tr>
	</table>
</body>

</html>